body {
  margin: 0;
  overflow-x: hidden;
}

#imag7 {
  background: #000;
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  letter-spacing: 2px;
  line-height: 4;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide7 {
  display: none;
}

#onow7,
#foot7 {
  bottom: 24px;
  z-index: 1;
  text-indent: 50px;
}

#alts7 {
  margin-right: 50px;
}

#foot7,
#clos7,
#play7,
#onow7,
#left7,
#rigt7,
#wdow7 {
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  opacity: 0.7;
}

#left7,
#rigt7 {
  width: 10%;
  min-width: 80px;
  height: 100%;
  background: none;
}

#ilef7,
#irig7,
#wdow7,
#clos7,
#play7 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

#ilef7,
#irig7 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: -1;
}

#clos7:after,
#imag7,
#left7,
#rigt7 {
  top: 0;
}

#imag7,
#play7,
#left7 {
  left: 0;
}

#wdow7,
#rigt7 {
  right: 0;
}

#clos7 {
  top: 24px;
  z-index: 9;
}

#play7::after {
  content: "";
  border-width: 5px 0 5px 12px;
  border-style: solid;
  border-color: transparent #fff;
  display: block;
  position: absolute;
  left: 19px;
  top: 19px;
  width: 10px;
  box-sizing: border-box;
}

#play7::before {
  content: "";
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
  position: absolute;
  left: 12px;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  top: 12px;
}

#play7.acts7::after {
  padding-top: 10px;
  border-width: 0 2px;
}

#play7.acts7,
#wdow7:hover,
#down7:hover,
#play7:hover,
#clos7:hover,
#left7:hover #ilef7,
#rigt7:hover #irig7 {
  opacity: 1;
  background: rgba(160, 160, 160, 0.1);
}

#wdow7:active,
#down7:active,
#play7:active,
#clos7:active,
#left7:active,
#rigt7:active {
  opacity: .5;
}

#ilef7::after,
#irig7::after {
  content: "";
  padding: 9px;
  position: absolute;
  transition: .1s transform;
  top: 14px;
}

#onow7,
#clos7,
#irig7 {
  right: 24px;
}

#foot7,
#ilef7 {
  left: 24px;
}

#irig7::after,
#clos7:before {
  transform: rotate(45deg);
}

#ilef7::after,
#clos7:after {
  transform: rotate(-45deg);
}

#ilef7::after {
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  left: 14px;
}

#irig7::after {
  right: 14px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
}

#left7:hover #ilef7::after {
  transform: translateX(-2px) rotate(-45deg);
}

#rigt7:hover #irig7::after {
  transform: translateX(2px) rotate(45deg);
}

#clos7::after,
#clos7::before {
  border-left: 2px solid #fff;
  content: '';
  display: block;
  height: 30px;
  left: 23px;
  position: absolute;
  top: 10px;
  width: 0;
  z-index: 1;
}

#head7,
#cent7 {
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
  overscroll-behavior: none;
  overflow: hidden;
  left: 0;
  text-align: center;
}

#cent7 {
  height: 100%;
}

#head7 {
  height: 72px;
  z-index: 1;
}

#insi7 {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  pointer-events: none;
}

#insi7 img {
  background: #111;
  background: linear-gradient(90deg, #555 7px, #777 7px) 0 0/14px 1px, linear-gradient(#555 7px, #777 7px) 0 0/ 1px 14px;
  opacity: 1;
  position: relative;
  background-blend-mode: difference;
  object-fit: scale-down;
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

#down7 {
  border-radius: 0 0 2px 2px;
  border: 2px solid #fff;
  top: 27px;
  box-sizing: border-box;
  height: 6px;
  pointer-events: none;
  position: absolute;
  width: 24px;
  border-top: 0;
  left: 12px;
}

#down7::after {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  bottom: 3px;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 12px;
  left: 4px;
  position: absolute;
  transform: rotate(-45deg);
  width: 12px;
}

#down7::before {
  background: #fff;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 18px;
  left: 9px;
  margin: 0 auto;
  position: absolute;
  top: -16px;
  width: 2px;
}

.spin7::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.spin7::after {
  content: "";
  border: 2px solid rgba(200, 200, 200, 0.7);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  animation: load .5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin: -12px 0 0 -12px;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 2;
}

@keyframes load {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotate(360deg);
  }
}