html,
body {
  margin: 0;
  height: 100%;
}

#imag {
  background: #000;
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  letter-spacing: 2px;
  line-height: 4;
  overflow: hidden;
  position: fixed;
  user-select: none;
  width: 100%;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  will-change: transform, opacity;
}

.visi {
  transform: scale(1);
  transition: .2s transform, .2s opacity, .2s visibility;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  visibility: hidden;
}

#onow,
#foot {
  bottom: 24px;
  z-index: 1;
  text-indent: 50px;
}

#alts {
  margin-right: 50px;
}

#foot,
#clos,
#play,
#onow,
#left,
#rigt,
#wdow {
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  opacity: 0.7;
}

#left,
#rigt {
  width: 10%;
  min-width: 80px;
  height: 100%;
  background: none;
}

#ilef,
#irig,
#wdow,
#clos,
#play {
  height: 48px;
  width: 48px;
  background: none;
  border-radius: 50%;
}

#ilef,
#irig {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: -1;
}

#clos:after,
#imag,
#left,
#rigt {
  top: 0;
}

#imag,
#play,
#left {
  left: 0;
}

#wdow,
#rigt {
  right: 0;
}

#clos {
  top: 24px;
  z-index: 9;
}

#play::after {
  content: "";
  border-width: 5px 0 5px 12px;
  border-style: solid;
  border-color: transparent #fff;
  display: block;
  position: absolute;
  left: 19px;
  top: 19px;
  width: 10px;
  box-sizing: border-box;
}

#play::before {
  content: "";
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
  position: absolute;
  left: 12px;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  top: 12px;
}

#play.acts::after {
  padding-top: 10px;
  border-width: 0 2px;
}

#play.acts,
#wdow:hover,
#down:hover,
#play:hover,
#clos:hover,
#left:hover #ilef,
#rigt:hover #irig {
  opacity: 1;
  background: rgba(160, 160, 160, 0.1);
}

#wdow:active,
#down:active,
#play:active,
#clos:active,
#left:active,
#rigt:active {
  opacity: .5;
}

#ilef::after,
#irig::after {
  content: "";
  padding: 9px;
  position: absolute;
  transition: .1s transform;
  top: 14px;
}

#onow,
#clos,
#irig {
  right: 24px;
}

#foot,
#ilef {
  left: 24px;
}

#irig::after,
#clos:before {
  transform: rotate(45deg);
}

#ilef::after,
#clos:after {
  transform: rotate(-45deg);
}

#ilef::after {
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  left: 14px;
}

#irig::after {
  right: 14px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
}

#left:hover #ilef::after {
  transform: translateX(-2px) rotate(-45deg);
}

#rigt:hover #irig::after {
  transform: translateX(2px) rotate(45deg);
}

#clos::after,
#clos::before {
  border-left: 2px solid #fff;
  content: '';
  display: block;
  height: 30px;
  left: 23px;
  position: absolute;
  top: 10px;
  width: 0;
  z-index: 1;
}

#cent {
  height: 100%;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 1;
  overscroll-behavior: contain;
  overflow: hidden;
  left: 0;
}

#cent img {
  background: #111;
  background: linear-gradient(90deg, #111 7px, #070707 7px) 0 0/14px 1px, linear-gradient(#111 7px, #070707 7px) 0 0/ 1px 14px;
  left: 50%;
  height: 100%;
  object-fit: scale-down;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  background-blend-mode: difference;
  max-width: 100%;
  pointer-events: none;
}

#down {
  border-radius: 0 0 2px 2px;
  border: 2px solid #fff;
  top: 27px;
  box-sizing: border-box;
  height: 6px;
  pointer-events: none;
  position: absolute;
  width: 24px;
  border-top: 0;
  left: 12px;
}

#down::after {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  bottom: 3px;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 12px;
  left: 4px;
  position: absolute;
  transform: rotate(-45deg);
  width: 12px;
}

#down::before {
  background: #fff;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 18px;
  left: 9px;
  margin: 0 auto;
  position: absolute;
  top: -16px;
  width: 2px;
}