body {
  margin: 0;
  background: #B7B7FC;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.images-container ul {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
}

.images-container li {
  display: inline-block;
  margin: 0.25em;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 3px;
  height: 120px;
  width: 200px;
  overflow: hidden;
  background: #E7E7F1;
  padding: 2px;
  border: 1px solid #B5B5FF;
}

.images-container {
  display: block;
  margin: 0 auto;
  padding: 0.25em;
  user-select: none;
  text-align: center;
  background: #C7C7F7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #777;
}

.images-container img {
  cursor: pointer;
  display: block;
  object-position: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 575.98px) {
  .images-container ul {
    margin: 0 4px;
  }
  
  .images-container li {
    width: 100%;
    margin: 4px 0;
    text-align: center;
    height: 196px;
  }

  .images-container img {
    text-align: center;
    margin: 0 auto;
  }
}