body {
  margin: 0;
  background: #B7B7FC;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.images-container ul {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
}

.images-container li {
  position: relative;
  display: inline-block;
  margin: 0.25em;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 3px;
  height: 120px;
  width: 200px;
  overflow: hidden;
  background: #E7E7F1;
  padding: 2px;
  border: 1px solid #B5B5FF;
  color: #fff;
}

.images-container {
  display: block;
  margin: 0 auto;
  padding: 0.25em;
  user-select: none;
  text-align: center;
  background: #C7C7F7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images-container img {
  cursor: pointer;
  display: block;
  object-position: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  color: transparent;
}

.images-container li::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #777;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

#cent::after, .images-container li::after {
  content: "";
  border: 2px solid rgba(200, 200, 200, 0.7);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  animation: load .5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin: -12px 0 0 -12px;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 1;
}

@keyframes load {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 575.98px) {
  .images-container ul {
    margin: 0 4px;
  }

  .images-container li {
    width: 100%;
    margin: 4px 0;
    text-align: center;
    height: 196px;
  }

  .images-container img {
    text-align: center;
    margin: 0 auto;
  }
}