body {
  font: 16px/1.5 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #e0f0ea;
  background: #3c2a4d;
}

span,
h1,
h2,
h3,
p {
  margin: 0;
  line-height: 1.5;
  display: inline-block;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
}

h2,
h3 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-top: 1.2em
}


.codes {
  color: #d4d4d4;
  font-family: 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback';
  text-align: left;
  background: #3c2a4d;
}

.grey {
  color: #777;
}

.blueligth {
  color: #5794b4;
}

.blue {
  color: #9bcde9;
}

.yelow {
  color: #cab066;
}

.green {
  color: #537537;
}

a {
  background: #574f7d;
  color: #fff;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
}

a:active {
  background-color: #080008;
}

a:visited {
  background-color: #574f7d;
}

a:hover {
  background: #95adbe;
}

header,
footer {
  background: #3c2a4d;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.inside,
main {
  margin: 0 auto;
  padding: 1.5em;
  width: auto;
  max-width: 1000px;
  min-height: 120px;
  overflow: hidden;
}

main {
  text-align: right;
  background: #503a65;
}

.inside {
  columns: 2;
}