body {
  font: 16px/1.5 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #000;
  background: #49534F;
}

span,
h1,
h2,
h3,
p {
  margin: 0;
  line-height: 1.5;
  display: inline-block;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
}

h2,
h3 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-top: 1.2em
}


.codes {
  color: #d4d4d4;
  font-family: 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback';
  text-align: left;
  background: #454A4E;
}

.grey {
  color: #79736B;
}

.blueligth {
  color: #427DAB;
}

.blue {
  color: #3396E2;
}

.yelow {
  color: #FFB757;
}

.green {
  color: #3EB582;
  user-select: none;
}

.greys {
  color: #D2957C;
}

a {
  background: #547187;
  color: #fff;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  margin: auto;
  user-select: none;
}

a:active {
  background-color: #454A4E;
}

a:visited {
  background-color: #547187;
}

a:hover {
  background: #454A4E;
}

header,
footer {
  background: #427DAB;
  text-align: center;
  width: 100%;
  overflow: hidden;
  user-select: none;
  max-width: 1000px;
  margin: .75em auto 0;
  color: #fff;
}

.inside,
main {
  margin: 0 auto;
  padding: .75em 0;
  width: auto;
  max-width: 1000px;
  min-height: 120px;
  overflow: hidden;
}

main {
  text-align: right;
}

.inside {
  columns: 2;
}

.wrap {
  display: flex;
  background: #427DAB;
}

.wrap>div{
  padding: 0 .75em;
  margin: auto;
}

.select span,
.select div {
  display: inline-block;
  white-space: pre-wrap;
}
@media screen and (max-width: 575.98px) {
  .wrap {
    flex-direction: column;
  }
}