body {
  margin: 0;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.images-container ul {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
}

.images-container li {
  display: inline-block;
  margin: 0.25em;
  overflow: hidden;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 16px;
  clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
}

.images-container {
  display: block;
  margin: 0 auto;
  padding: 0.25em;
  user-select: none;
  text-align: center;
}

.images-container img {
  object-fit: contain;
  cursor: pointer;
  display: block;
  height: 120px;
  object-position: center;
  background: #aaa;
  width: 200px;
}

.images-container img,
.imag img {
  border-radius: 3px;
}

#imag {
  background: #000;
  color: rgba(238, 238, 238, 0.7);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  left: 0;
  position: fixed;
  /*! text-align: center; */
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 999999;
}

.vis {
  transform: scale(1);
  transition: .2s transform, .2s opacity, .2s visibility;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  visibility: hidden;
}

#foot,
#head {
  height: 48px;
  line-height: 3;
  position: absolute;
  width: 100%;
}

#head {
  z-index: 2;
  text-align: center;
}

#foot {
  bottom: 32px;
  z-index: 1;
  text-indent: 100px;
}

#clos,
#play,
#onow,
#left,
#rigt {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  position: absolute;
  opacity: 0.7;
}

#left,
#rigt {
  width: 30%;
  height: 100%;
}

#clos,
#play,
#onow {
  height: 40px;
  width: 40px;
}

#left,
#rigt {
  top: 0;
}

#left {
  left: 0;
}

#rigt {
  right: 0;
}

#onow,
#clos {
  right: 32px;
}

#clos {
  top: 32px;
  z-index: 9;
}

#clos:before {
  transform: rotate(45deg);
}

#clos:after {
  transform: rotate(-45deg);
  top: 0;
}

#left::after,
#rigt::after {
  content: "";
  padding: 14px;
  border-left: 4px solid #fff;
  border-top: 4px solid #fff;
  position: absolute;
  top: 50%;
}

#play {
  left: 32px;
  border-radius: 50%;
  border: 4px solid #fff;
}

#play::after {
  content: "";
  margin: 6px 8px;
  border-width: 10px 0 10px 20px;
  border-style: solid;
  border-color: transparent #fff;
  display: block;
  padding: 0
}

#play.acts::after {
  padding-top: 20px;
  border-width: 0 4px
}

#play.acts,
#onow:hover,
#down:hover,
#play:hover,
#clos:hover,
#left:hover,
#rigt:hover {
  opacity: 1;
}

#onow:active,
#down:active,
#play:active,
#clos:active,
#left:active,
#rigt:active {
  opacity: .5;
}

#left::after {
  transform: translateY(-50%) rotate(-45deg);
  left: 40px;
}

#rigt::after {
  transform: translateY(-50%) rotate(135deg);
  right: 40px;
}

#clos::after,
#clos::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 0;
  border-left: 4px solid #fff;
  top: 0;
  height: 32px;
  left: 18px;
}

#cent {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 1;
}

#cent img {
  left: 50%;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}

#down {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 4px solid #fff;
  bottom: 0;
  box-sizing: border-box;
  display: block;
  height: 9px;
  pointer-events: none;
  position: absolute;
  width: 40px;
  border-top: 0;
}

#down::after {
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  bottom: 4px;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 16px;
  left: 8px;
  position: absolute;
  transform: rotate(-45deg);
  width: 16px;
}

#down::before {
  background: #fff;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 25px;
  left: 14px;
  margin: 0 auto;
  position: absolute;
  top: -23px;
  width: 4px;
}

@media screen and (max-width: 575.98px) {
  .images-container img {
    max-width: 480px;
    height: auto;
  }
}