body {
  font: 16px/1.5 'Kodchasan', sans-serif;
  color: #085656;
  background: #f7f7f7;
}

span,
h1,
h2,
h3,
p {
  margin: 0;
  line-height: 1.5;
  position: relative;
  font-size: 16px;
}

p {
  padding: 0 1.5em;
  margin: auto;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
}

h2,
h3 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-top: 1.2em
}


.codes {
  text-align: left;
  background: #fff;
}

.blueligth {
  color: #122960;
}

.blue {
  color: #243E79;
}

.yelow {
  color: #8F480D;
}

img,
.green {
  color: #0A730A;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.greys {
  color: #176C6C;
}

.grey {
  color: #085656;
}

a {
  background: #085656;
  color: #fff;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  margin: auto;
  user-select: none;
  letter-spacing: 3px;
  font-weight: 700;
}

a:active {
  background-color: #454A4E;
}

a:visited {
  background-color: #085656;
}

a:hover {
  background: #176C6C;
}

header,
footer {
  width: 100%;
  user-select: none;
  margin: 0 auto;
  color: #085656;
  z-index: 1;
  position: relative;
}

main {
  text-align: center;
  background: #ddd;
}

.inside,
main {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 120px;
  overflow: hidden;
  font-size: 0;
}

.wrap {
  display: flex;
  background: #eee;
  position: relative;
}

.codes {
  counter-reset: numbers;
}

.codes p::before {
  counter-increment: numbers;
  content: counter(numbers);
  position: absolute;
  left: 0;
  text-align: center;
  top: 0;
  display: block;
  width: 1.5em;
  background: #ddd;
  height: 100%;
  color: #fff;
}

.select p,
.select div {
  display: inline-block;
  white-space: pre-wrap;
}

@media screen and (max-width: 575.98px) {
  .wrap {
    flex-direction: column;
  }

  .inside {
    columns: 1;
  }
}