* {
  box-sizing: border-box;
}

#imag {
  background: #000;
  color: rgba(238, 238, 238, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  position: fixed;
  user-select: none;
  width: 100%;
  z-index: 999999;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 3;
}

.visi {
  transform: scale(1);
  transition: .2s transform, .2s opacity, .2s visibility;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  visibility: hidden;
}

#onow,
#foot {
  bottom: 32px;
  z-index: 1;
  text-indent: 50px;
}

#alts {
  margin-right: 50px;
}

#foot,
#clos,
#play,
#onow,
#left,
#rigt,
#wdow {
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  opacity: 0.7;
}

#left,
#rigt {
  width: 20%;
  min-width: 48px;
  height: 100%;
  background: #0000002e;
}

#ilef,
#irig,
#wdow,
#clos,
#play {
  height: 48px;
  width: 48px;
  background: #749dff33;
  border-radius: 50%;
}

#ilef,
#irig {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

#clos:after,
#imag,
#left,
#rigt {
  top: 0;
}

#imag,
#play,
#left {
  left: 0;
}

#wdow,
#rigt {
  right: 0;
}

#clos {
  top: 32px;
  z-index: 9;
}

#play::after {
  content: "";
  border-width: 5px 0 5px 12px;
  border-style: solid;
  border-color: transparent #fff;
  display: block;
  position: absolute;
  left: 19px;
  top: 19px;
  width: 10px;
  box-sizing: border-box;
}

#play::before {
  content: "";
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
  position: absolute;
  left: 12px;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  top: 12px;
}

#play.acts::after {
  padding-top: 10px;
  border-width: 0 2px;
}

#play.acts,
#wdow:hover,
#down:hover,
#play:hover,
#clos:hover,
#left:hover,
#rigt:hover {
  opacity: 1;
}

#wdow:active,
#down:active,
#play:active,
#clos:active,
#left:active,
#rigt:active {
  opacity: .5;
}

#ilef::after,
#irig::after {
  content: "";
  padding: 9px;
  position: absolute;
  transition: .1s transform;
  top: 14px;
}

#onow,
#clos,
#irig {
  right: 32px;
}

#foot,
#ilef {
  left: 32px;
}

#irig::after,
#clos:before {
  transform: rotate(45deg);
}

#ilef::after,
#clos:after {
  transform: rotate(-45deg);
}

#ilef::after {
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  left: 14px;
}

#irig::after {
  right: 14px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
}

#left:hover #ilef::after {
  transform: translateX(-2px) rotate(-45deg);
}

#rigt:hover #irig::after {
  transform: translateX(2px) rotate(45deg);
}

#clos::after,
#clos::before {
  border-left: 2px solid #fff;
  content: '';
  display: block;
  height: 28px;
  left: 23px;
  position: absolute;
  top: 10px;
  width: 0;
  z-index: 1;
}

#cent {
  height: 100%;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 1;
  background: repeating-linear-gradient(rgba(67, 67, 67, 0.5) 0px, rgba(67, 67, 67, 0.5) 4px, rgba(85, 85, 85, 0.5) 4px, rgba(85, 85, 85, 0.5) 8px), repeating-linear-gradient(90deg, rgba(67, 67, 67, 0.5) 0px, rgba(67, 67, 67, 0.5) 4px, rgba(85, 85, 85, 0.5) 4px, rgba(85, 85, 85, 0.5) 8px) repeat fixed 0% 0%;
}

#cent img {
  left: 50%;
  height: 100%;
  width: 80%;
  object-fit: scale-down;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}

#down {
  border-radius: 0 0 2px 2px;
  border: 2px solid #fff;
  top: 27px;
  box-sizing: border-box;
  height: 6px;
  pointer-events: none;
  position: absolute;
  width: 24px;
  border-top: 0;
  left: 12px;
}

#down::after {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  bottom: 3px;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 12px;
  left: 4px;
  position: absolute;
  transform: rotate(-45deg);
  width: 12px;
}

#down::before {
  background: #fff;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 18px;
  left: 9px;
  margin: 0 auto;
  position: absolute;
  top: -16px;
  width: 2px;
}